<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %} {% endblock %}</title>
</head>
<body>
    <ul style="list-style: none">
        <li style="display: inline-block; padding: 10px-20px;">
            <!--changement-->
            <a href="{% url 'home' %}">Acceuil</a>
        </li>
        <li style="display: inline-block; padding: 10px-20px;"></li>
            <a href="{% url 'articles' %}">Articles</a>
        </li>
        <li style="display: inline-block; padding: 10px-20px;"></li>
            <a href="{% url 'contact' %}">Contact</a>
        </li>
    </ul>

    {% block contenu %} {% endblock %}

</body>
</html>
